header{
      text-align :center;
      background-color: #474e5d;
      height: 120px;
      margin-top: 0px; 
      padding: 20px;
      width: 100%;
}
ul{
      list-style-type: none;
      font-size:25px; 
      font-weight:bold;
}
li{
      display:inline;
      list-style-type: none;
      width: 100%;
      padding: 10px;
      

}
ul li a{
      text-decoration: none;
      color: aliceblue;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}    
#one{
      color: aliceblue;
      font-size:20px;    
      background-image:url(home.jpg);
      background-size: 100%;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 540px;
      width: 100%;
      padding: 20px; 
}
a:link{
      color: aqua;
}
a:visited{
color: red;
}
a:hover{
      color: blue;
}

#contact{
      
      text-size-adjust: 25px;
      height: 200px;
      width: 230px;
      padding: 20px;
      border: 50px;         
}
h3{
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pictures{
      text-align: center;
      font-size:20px;
      height:x;
}
footer{
      background-color:rgb(160, 34, 34); 
      text-align: center;
      height: 60px;px;
      padding: 20px;
      width: 100%;
      color: aliceblue;
}
.font{
      color: rgb(7, 180, 248);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
      color:white ;
      font-weight: lighter;
      font-family: wide latin;
}
h4{
      text-align: center;
}
.sheet{
      float:left;
      color:#ff7200;
      font-size: 25px;
      background: local;     
}
.two{
      float:right; 
}
.contact-section {
      padding: 50px;
      text-align: center;
      font-size: 15px;
      color: rgb(8, 8, 8);
}
#featured-projects{
      text-align: center;
      height: 650px;

}
.project-card{
  max-width: 700px;
  font-family: Poppins;
  border: 1px solid #f1f1f1;
  padding: 10px;
  margin:auto;
}
.projects-page{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size:px ;
}    
.projects-page h1{
      font-size: 25px;
      margin-top: 0;
 }   
.projects-page ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}    
.projects-page li {
      margin-bottom: 1em;
}    
.projects-page li h2 {
      font-size:25px;
}
.contact-page form {
      width: 50%;
      margin: 0 auto;
}
form input[type=submit]
{
	padding: 10px 40px;
	background: #bb7d09;
	border: none;
	color: white;
	font-family: Poppins;
	font-weight: 700;
      border-radius: 50px;
}

.form label{
	color: gray;
	text-transform: capitalize;
}
.form{
	max-width: 100%;
	margin: 0 auto;
	width: 50%;
	background: #fff;
	padding: 15px 30px;
      
}
form input[type=text],
input[type=password]{
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  margin: 8px 0;

}
.contact-page{
      background-color: #57462d;
      background-size: 300px;
      color: white;
      padding: 20px;      
}
.contact-pa{
      text-align: center;
            
}.contact-page-p2{
      text-align: center;
            
}




      





